# ---------------------------------------------
# Pastas e Arquivos de Ambiente Virtual e Python
# ---------------------------------------------

# 1. Ambiente Virtual do Python
# Ignora a pasta principal do ambiente virtual
venv/
# Se você tiver outro ambiente com nome diferente (ex: o que começa com 'simulados_api_flask' na sua imagem)
simulados_api_flask/ 

# 2. Pastas de Cache e Compilação do Python
# Ignora a pasta de cache padrão
__pycache__/
# Ignora arquivos de bytecode compilados (.pyc)
*.pyc

# 3. Arquivos de Desenvolvimento (IDEs e Sistemas Operacionais)
# Visual Studio Code (VS Code)
.vscode/

# Arquivos de IDEs PyCharm/IntelliJ
.idea/

# Arquivos de Mac OS (se usar macOS)
.DS_Store

# 4. Arquivos de Documentação Temporários ou Gerados
# Arquivos temporários do Markdown
*.md~
esqueleto.md

# ---------------------------------------------
# 4. Dados Locais e Segredos (Se necessário)
# ---------------------------------------------

# Arquivos de log (se sua aplicação criar)
*.log
