<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Plataforma de Estudo</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            background-color: #f0f0f0;
            color: #333;
            margin-top: 50px;
        }
        h1 {
            color: #0056b3;
        }
        .container {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            display: inline-block;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo(a) à minha plataforma de estudos!</h1>
        <p>Esta plataforma foi criada para ajudar a estudar pro certificado AWS practitioner.</p>
    </div>
    <div class="container" style="margin-top: 20px;">
        <h2>Sobre Mim</h2>
        <p>Meu nome é Natalia, formada em Análise e Desenvolvimento de Sistemas e estou, atualmente, estudando para a certificação da AWS practitioner.</p>
        <p>Estou desenvolvendo esta plataforma para aprimorar minhas habilidades em desenvolvimento web e ajudar outros estudantes.</p>
        <a href="https://github.com/nataliaberbetviana" target="_blank">Meu GitHub</a>
        <a href="https://www.linkedin.com/in/nataliaberbetviana/" target="_blank" style="margin-left: 15px;">Meu LinkedIn</a>
        <a href=mailto:nabevia@gmail.com target="_blank" style="margin-left: 15px;">Meu Email</a>
    </div>
    <div class="container" style="margin-top: 20px;">
        <h2>Recursos</h2>
        <p>Explore os simulados e materiais de estudo disponíveis na plataforma para se preparar para a certificação AWS.</p>
        <a href="{{ url_for('simulados') }}">Acessar Simulados</a>
        <a href="{{ url_for('materiais') }}" style="margin-left: 15px;">Acessar Materiais de Estudo</a>
        <a href="{{ url_for('links') }}" style="margin-left: 15px;">Acessar Links Úteis</a>
    </div>
</body>
</html>