<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Simulados - AWS Practitioner</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            background-color: #e6f7ff;
            color: #004d66;
            padding-top: 50px;
        }
        h1 {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Página de Materiais</h1>
    <p>Aqui você vai encontrar os materiais de estudo para praticar!</p>

    <a class="link-voltar" href="{{ url_for('home') }}">Voltar para o Início</a>

</body>
</html>